.popup__edit{
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    box-sizing: border-box;
    line-height: 29px;
    padding: 34px 64px 0 36px;
    margin: 0 0 54px 0;
    }
    
    