@import url(./vendor/normalize.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/popup__save/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__error/popup__error_visible.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/_function/popup__container_function_image.css);
@import url(./blocks/popup/__container/_function/popup__container_function_remove.css);
@import url(./blocks/popup/__container/_content/popup__container_content_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_link.css);
@import url(./blocks/popup/__input/_type/popup__input_type_job.css);
@import url(./blocks/popup/__input/_visible/popup__input_type_error.css);
@import url(./blocks/popup/__save/_function/popup__save_function_create.css);
@import url(./blocks/popup/__save/_function/popup__save_function_edit.css);



.App {
  max-width: 799px;
  width: 100%;
  margin: 0 auto;
}
